@import 'css/ourstory.css';
@import 'css/video.css';
@import 'css/expertise.css';
@import 'css/meet.css';
@import 'css/form.css';
@import 'css/footer.css';
@import 'css/mix.css';


* {
    box-sizing: border-box;
    font-family: Georgia, sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.divider {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #00cccc ;
    margin: 0 auto;
}

header {
    height: 100vh;
    padding: 2%;
    background: url('img/bgk-header.png') center center/cover no-repeat;
}

.navline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.span_logo {
    color: #00cccc;
    font-size: 26px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.navbar > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.navbar > li > a:hover {
    color: #00cccc;
    transition: 0.2s;
}

.weare {
    margin: 0 auto;
    width: 65%;
    margin-top: 160px;
}

.weare > p {
    text-align: center;
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
}

.button {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 40px;
    color: #00cccc;
    font-size: 14px;
    background-color: transparent;
    border: none;
    border: solid 1px aqua;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 8px #00cccc;
    transition: 0.2s;
}
